* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(57, 5, 58);
    color: #cee2f4;
}

ul {
    list-style: none;
}

nav {
    position:sticky;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: rgb(30, 2, 46);
    border-radius: 10px;
    padding: 3px;
    font-weight: 800;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

nav ul {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0 20px;
}

nav ul li:hover {
    color: yellow;
    margin: 0 20px;
    font-weight: bold;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.firstSection div {
    width: 30%;
}

span {
    color: rgb(199, 183, 6);
}

.leftSection {
    margin-top: 80px;
    font-size: 1.5rem;
}

.rightSection {
    margin-top: 80px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellow;
}

#element {
    font-size: 2.3rem;
    font-weight: 900;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: xx-large;
}

h1:hover {
    cursor: pointer;
    font-weight: bolder;
    color: yellow;
}

.line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    height: 2px;
    width: 80%;
    border-radius: 5px;
}

.timeline {
    background-color: white;
    width: 60vw;
    /* margin: auto; */
    margin-top: 70px;
    margin-bottom: 70px;
    height: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience {
    height: 18vh;
    width: 1px;
    background-color: white;
}
.title{
    width: max-content;
    padding: 5px;
    margin-top: 100px;
    font-size: 5px;
    display: flex;
    flex-direction: column;
}
.descp{
    width: 200px;
    padding: 10px;
    /* margin-top: 75px; */
    font-size: 5px;
    display: flex;
    flex-direction: column;
    
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: flex; */
    margin-top: 400px;
}
.project h1{
    font-size: 40px;
}
.project-card{
    display: flex;
}
.project {
    height: 200px;
    width: 30%;
    margin: 20px 10px 0;
    padding: 20px;
    text-align: center;
    background-color: rgb(30, 2, 46);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.line2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    height: 2px;
    width: 80%;
    border-radius: 5px;
}

.btn{
        /* height: 300%;*/
        width: 100px; 
        margin: 5px 10px 0;
        padding: 20px;
        text-align: center;
        background-color: rgb(30, 2, 46);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.social-img:hover{
    cursor: pointer;
    width: 40px;
}
.contactMe{
    text-align: center;
}
footer{
    margin-top: 100px;
    margin-bottom: 0;
}
.project:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.btn {
    width: 1250px;
    margin: 5px 10px 0;
    padding: 10px;
    text-align: center;
    background-color: rgb(30, 2, 46);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: rgb(88, 2, 42);
    color: black;
    cursor: pointer;
  }
  .secondSection div{
    font-size: smaller;
  }